.div-general{
    background: rgb(206, 205, 205);
}

.title-header{
    background: white;
    margin: auto;
    width: 550px;
    height: 40px;
    /* margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 475px;
    background rgb(255, 255, 255); */
}

.post{
    background: white;
    margin: auto;
    width: 550px;
    height: 580px;
}
.title-img{
    margin: 0px 0px 0px 10px;
}

.numbering{
    color: rgb(219, 210, 210);
    padding: 0px 10px 0px 0px;
    float: right;
}

.img{
    width: 550px;
    height: 400px;
}
.text-footer{
    margin-left: 15px;
    margin-right: 10px;
}